name: Java CI with Gradle

on:
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout Branch
      uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle Wrapper
      run: ./gradlew clean build
      
    - name: Send success message to Discord
      if: success()
      uses: enbraining/discord-webhook-action@v1.0.1
      with:
        webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
        type: EMBED
        title: "Successfully complete build"
        color: 007E33

    - name: Send failure message to Discord
      if: failure()
      uses: enbraining/discord-webhook-action@v1.0.1
      with:
        webhookUrl: ${{ secrets.DISCORD_WEBHOOK_URL }}
        type: EMBED
        title: "Failed to complete build"
        color: CC0000

  